<mat-card class="container">
  <img class="image" src="http://assets.stickpng.com/thumbs/585e4beacb11b227491c3399.png" alt="Logo" style="width: 250px;">
  <mat-form-field>
    <input matInput placeholder="Nombre de usuario" name="username" [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="{{hide ? 'password' : 'text'}}" placeholder="Password" name="password" [(ngModel)]="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <mat-error *ngIf="loginError">Nombre de usuario o password incorrecto.</mat-error>
  <button mat-raised-button color="primary" class="login-button" (click)="attemptLogin()" >
    Login
  </button>
</mat-card>
