
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container > * {
  width: 100%;
}

.login-button {
  margin-top: 30px;
}

.new-account-label {
  text-align: center;
  font-size: 13px;
}

.image {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
