<table mat-table [dataSource]="users" class="mat-elevation-z8">

  <ng-container matColumnDef="fullName">
    <mat-header-cell *matHeaderCellDef> Fullname </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fullName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.userRole}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-toolbar color="none">
        <mat-toolbar-row>
          <mat-icon (click)="editUser(element)">edit</mat-icon>
          <mat-icon (click)="deleteUser(element)">delete</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>

<div class="matAddButton">
  <button mat-fab color="primary" class="addButton">
    <mat-icon (click)="createUser()">add</mat-icon>
  </button>
</div>
