table {
  width: 100%;
  margin-top: 2%;
}

.addButton {
  float: right;
}

.matAddButton {
  display: block;
  margin-right: 10%;
}

.mat-icon {
  cursor: pointer;
}

.addButton {
  margin: 3% 45% 0 46%;
}
