<table mat-table [dataSource]="users" class="mat-elevation-z8">

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef> Fullname </th>
    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Rol </th>
    <td mat-cell *matCellDef="let element"> {{element.userRole}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <mat-toolbar color="none">
        <mat-toolbar-row>
          <mat-icon (click)="editUser(element)">edit</mat-icon>
          <mat-icon (click)="deleteUser(element)">delete</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-fab color="primary">
  <mat-icon (click)="createUser()">plus</mat-icon>
</button>
