<mat-toolbar color="primary" class="toolbar" *ngIf="uiContext.showToolbar">
  <div class="titleContainer">
    <div class="buttonsContent">
      <mat-icon mat-icon-button (click)="snav.toggle()" >menu</mat-icon>
    </div>
    <h1 class="title">{{uiContext.title}}</h1>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav mode="over" fixedTopGap="56" style="width: 195px;" (click)="snav.close()">
    <mat-nav-list>
      <mat-list-item routerLink="new-claim">
        <mat-icon>add</mat-icon>
        <a>Generar Reclamo</a>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item routerLink="user">
        <mat-icon>account_circle</mat-icon>
        <a>ABM usuarios</a>
      </mat-list-item>

      <mat-list-item routerLink="claim">
        <mat-icon>folder</mat-icon>
        <a>Reclamos</a>
      </mat-list-item>

      <!-- <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon>launch</mat-icon>
        <a href="http://localhost:8080/h2-console/" target="_blank">Consola H2DB</a>
      </mat-list-item> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
