<table mat-table [dataSource]="claims" class="mat-elevation-z8">

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>>
    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="origin">
    <mat-header-cell *matHeaderCellDef> Origin </mat-header-cell>>
    <mat-cell *matCellDef="let element"> {{element.origin}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.type.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.status.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-toolbar color="none">
        <mat-toolbar-row>
          <mat-icon (click)="cancelClaim(element)" *ngIf="element.status != 'CANCELADO'">highlight_off</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</table>

<div class="matAddButton2">
  <button mat-fab color="primary" class="addButton">
    <mat-icon (click)="addClaim()">add</mat-icon>
  </button>
</div>
